<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dash</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->


     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="static/index.css">
    
    </head>

<body>

  <div id="h">
    <div style="font-size: x-large;" class="logo"><strong>Crime Prediction and Analysis in Indian Cities using ML</strong> </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          
          
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  <!-- /H -->

  

  <div id="sep">
    <div class="container">
      <div class="row centered">
        <div class="col-md-8 col-md-offset-2">
          <h1 style="font-size: x-large;">Join us.</h1>
          
          <a style="font-size: xx-large;" class="btn btn-primary" href="/logon">SignUp</a>
        </div>
        <!--/col-md-8-->
      </div>
    </div>
  </div>
  <!--/sep-->
  <div id="green">
  
    <div style="margin-left: 350px;" class="container">
        <div >
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <h3>About</h3>
                    <p class="lead mb-0">About the Crime Analysis in India and what is the use of it!</p>
                    <br>
                    <p>
                      In India, there has been a drastic pattern of crime observed in the past few years giving rise to a 
                      threat to the security of common man. Considering this perilous situation, main aim was to study 
                      these crime patterns and realise the changes in the overall crime ratio based on the 
                      demographic/population ratios which shall ease the process of reaching the future crime-cases 
                      prediction. Along with this, predictions are made on the maximum criminal activities that need 
                      to be controlled and the amount of security measures that need to be taken to decelerate/curb the 
                      occurrence of any mild to treacherous level criminal activities.

                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
  
  <!--/g-->

  <div id="green">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 centered">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <h3>I enjoyed so much the last edition of Landing Sumo, that I bought the tickets for the new one edition of the event the first day.</h3>
                <h5><tgr>DAVID JHONSON</tgr></h5>
              </div>
              <div class="item">
                <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
                <h5><tgr>MARK LAWRENCE</tgr></h5>
              </div>
              <div class="item">
                <h3>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration, by injected humour.</h3>
                <h5><tgr>LISA SMITH</tgr></h5>
              </div>
            </div>
          </div>
          <!--/Carousel-->

        </div>
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  <!--/green-->

  <div id="f">
    <div class="container">
      <div class="row centered">
        <h2>You Can Feedback Us</h2>
        

        <p class="mt">
          <a href="#"><i class="ion-social-twitter"></i></a>
          <a href="#"><i class="ion-social-dribbble"></i></a>
          <a href="#"><i class="ion-social-instagram"></i></a>
          <a href="#"><i class="ion-social-facebook"></i></a>
          <a href="#"><i class="ion-social-pinterest"></i></a>
          <a href="#"><i class="ion-social-tumblr"></i></a>
        </p>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <form class="contact-form php-mail-form" role="form" action="/message" method="GET">

            <div class="form-group">
              <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" >
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>

            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <div class="form-send">
              <button type="submit" class="btn btn-large">Send Message</button>
            </div>

          </form>

        </div>
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  <!--/F-->

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>2021</strong>. All Rights Reserved
      </p>
      
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/lib/php-mail-form/validate.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>
